@import url('./font/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0b1a23; */
  background-color: #09141b;
  color: #fff;
  font-family: 'CabinetGrotesk-Regular';
}
